[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-telegram-bot = "==11.1.0"
flask = "==1.1.4"
gunicorn = "==20.1.0"
requests = "==2.25.1"
urllib3 = "==1.26.5"

[requires]
python_version = "3.8"
